# Supabase Configuration
VITE_SUPABASE_URL=https://kthfvvkryvpxkdpkfsic.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0aGZ2dmtyeXZweGtkcGtmc2ljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk3MDMyNTAsImV4cCI6MjA5NTI3OTI1MH0.dZA_6jpZIQgAanU-Hq0ystH5J2yyiagpYqv5FiT_WFQ   

# Razorpay Configuration
VITE_RAZORPAY_KEY_ID=your_razorpay_key_id
